@model IEnumerable<WebApplication1_SozialMediaPlatform01.Models.Nachricht>

@{
    ViewData["Title"] = "Index";
}

<h1>Nachricht Index</h1>

<p>
    <a asp-action="Create">Create New Nachricht</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostZeitpunkt)
            </th>
            <th>
                Anzahl der Likes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @foreach(char c in item.Post)
                {
                    if(c == '>')
                    {
                        @: <b> 
                    }
                    else if(c == '<')
                    {
                        @: </b>  
                    }
                    else{
                        @c
                    }
                }
                

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostZeitpunkt)
            </td>
            <td>
                @* Anzahl der Likes*@

                 @item.Like.Count() @*//x => x.LikeBool == true) *@
            </td>
            <td>
               
                <a href="/Nachricht/Liken?nachrichtId=@item.Id"> LIKE </a> |
                <a href="/Nachricht/EntLiken?nachrichtId=@item.Id"> EntLike </a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
